body{
    background-color: aqua;
}

h1{
    background-color: rgb(65, 134, 167);
    text-align: center;

}

.all{
    margin:10px;
    padding:10px;
    background-color: white;
}

.recipe-grid{
    display: block;
    background-color: rgb(114, 189, 207);
    padding: 10px;
    margin: 10px auto;
    width: 400px;
}

.hover-recipes:hover{
    background-color: rgb(9, 149, 214);
}

a{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 24px;
}

img{
    width:50%;
}